<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminShippingDAO">

	<!-- 관리자 상품 주문 테이블 목록 불러오기 -->
	<select id="getOrderList" resultType="com.spring.mall.order.vo.UserOrderVO">
		SELECT *
		FROM USER_ORDER
	</select>

	<!-- 관리자 주문 상태 변경 -->
	<update id="updateOrderState">
		UPDATE USER_ORDER
		SET USER_STATUS = 2
		WHERE ORDER_ID = #{order_id}
	</update>
</mapper>