<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="orderDAO">
	<!-- 주문 정보 입력 -->
	<insert id="insertOrder"
		parameterType="com.spring.mall.order.vo.UserOrderVO">
		INSERT INTO
		USER_ORDER( ORDER_ID,
		ORDER_DATE,
		ORDER_ADDR,
		ORDER_ADDR_D,
		ORDER_ZIPCODE,
		ORDER_RECEIVER,
		ORDER_PHONE,
		ORDER_TOTAL,
		USER_STATUS,
		USER_ID)
		VALUES( #{order_id},
		SYSDATE,
		#{order_addr},
		#{order_addr_d},
		#{order_zipcode},
		#{order_receiver},
		#{order_phone},
		#{order_total},
		1,
		#{user_id}
		)
	</insert>

	<!-- 주문 상세 정보 입력 -->
	<insert id="insertOrderDetail">
		INSERT INTO USERORDER_DETAIL(ORDER_DETAIL_ID,
		USER_ORDER_CNT,
		ORDER_ID,
		PRODUCT_ID,
		USER_ID)
		SELECT
		ORDERDETAIL_SEQ.NEXTVAL, c.CART_PRODUCT_QTY, #{order_id},
		c.PRODUCT_ID,
		c.USER_ID
		FROM CART c
		where USER_ID = #{user_id}
	</insert>

	<!-- 카트 비우기 -->
	<delete id="cartAllDelete">
		DELETE FROM CART
		WHERE USER_ID =
		#{user_id}
	</delete>

	<!-- 결제창에서 쓰일 최근 주문 정보 가져오기 -->
	<select id="getOrder"
		resultType="com.spring.mall.order.vo.UserOrderVO">
		SELECT *
		FROM USER_ORDER
		WHERE USER_ID= #{user_id}
		AND
		ORDER_ID= #{order_id}
	</select>

	<!-- 주문 완료 후, 결제 테이블로 넘기기 -->
	<insert id="insertPayment">
		INSERT INTO PAYMENT p(
		p.BUYER_ADDR,
		p.BUYER_NAME,
		p.BUYER_POSTCODE,
		p.BUYER_TEL,
		p.IAMPORT_IMP_UID,
		p.ALLSUM)
		SELECT
		u.ORDER_ADDR ||' '||u.ORDER_ADDR_D as ADDR,
		u.ORDER_RECEIVER,
		u.ORDER_ZIPCODE,
		u.ORDER_PHONE,
		u.ORDER_ID,
		u.ORDER_TOTAL
		FROM USER_ORDER
		u
		WHERE u.ORDER_ID= #{order_id}
	</insert>

	<!-- 포인트 적립 -->
	<update id="updatePoint">
		update users
		set USER_POINT = USER_POINT + ( select
		o.ORDER_TOTAL * 0.05
		from USER_ORDER o
		where o.ORDER_ID = #{order_id}
		)
		where user_id = #{user_id}
	</update>

	<!-- 바로구매 주문상세 정보 입력 -->
	<insert id="insertOrderDetailDirect">
		INSERT INTO USERORDER_DETAIL(ORDER_DETAIL_ID,
		USER_ORDER_CNT,
		ORDER_ID,
		PRODUCT_ID,
		USER_ID)
		values (ORDERDETAIL_SEQ.NEXTVAL,
		#{cart_product_qty},
		#{order_id},
		#{product_id},
		#{user_id})
	</insert>

</mapper>