<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="productQnaDAO">

	<!-- qnaList by product -->
	<select id="qnaNickByProduct" parameterType="int" 
	resultType="com.spring.mall.product.vo.ProductQnaNickVO">
		SELECT PRODUCT_QNA.*, USERS.USER_NICKNAME
		FROM PRODUCT_QNA, USERS
		WHERE PRODUCT_QNA.PRODUCT_ID = #{product_id}
		AND USERS.USER_ID =  PRODUCT_QNA.USER_ID
		ORDER BY QNA_GROUP, QNA_GROUP_NUMBER
	</select>
	
	<!-- productQna insert (customer) -->
	<insert id="insertProductQna" parameterType="com.spring.mall.product.vo.ProductQnaVO">
		INSERT INTO PRODUCT_QNA (QNA_ID, QNA_CONTENT, PRODUCT_ID, USER_ID, Q_OR_A, QNA_GROUP_NUMBER, QNA_GROUP)
		VALUES ((SELECT NVL(MAX(QNA_ID)+1 ,0) FROM PRODUCT_QNA),#{qna_content},#{product_id},#{user_id},0,0,
		        (SELECT NVL(MAX(QNA_ID)+1 ,0) FROM PRODUCT_QNA)
		)
	</insert>
	
</mapper>
  
  
  