<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="productQnaDAO">


	<!-- 상품문의 /답변 수정 -->
	<update id="updatePrdQna" parameterType="com.spring.mall.product.vo.ProductQnaNickVO">
		UPDATE PRODUCT_QNA SET
		QNA_CONTENT = #{qna_content}
		WHERE QNA_ID = #{qna_id}
	</update>
	
	<!-- 상품문의 '답변' 삭제 -->
	<delete id="delPrdAns" parameterType="com.spring.mall.product.vo.ProductQnaNickVO">
		DELETE FROM PRODUCT_QNA
		WHERE QNA_GROUP = #{qna_group}
		AND Q_OR_A = 1
	</delete>

	<!-- 상품문의 삭제 -->
	<delete id="delPrdQna" parameterType="com.spring.mall.product.vo.ProductQnaNickVO">
		DELETE FROM PRODUCT_QNA
		WHERE QNA_GROUP = #{qna_group}
	</delete>
	
	<!-- 내 상품문의 개수 -->
	<select id="totMyPrdQna" parameterType="string" resultType="int">
		SELECT COUNT(*)
		FROM PRODUCT_QNA
		WHERE USER_ID = #{user_id}
	</select>
	
	<!-- 개인의 상품문의 목록 조회 -->
	<select id="myPrdQnaList" parameterType="map" resultType="map">
		SELECT *
		FROM (SELECT ROWNUM R_NUM, A.*
		        FROM (SELECT q.*, USERS.USER_NICKNAME, PRODUCT.PRODUCT_NAME
		            FROM PRODUCT_QNA q, users, product
		            WHERE Q.USER_ID = #{user_id}
		            AND Q.USER_ID = USERS.USER_ID
		            AND Q.PRODUCT_ID = PRODUCT.PRODUCT_ID
		            ORDER BY QNA_ID DESC) A)
		WHERE R_NUM BETWEEN TO_NUMBER(#{start}) AND TO_NUMBER(#{end})
	</select>
	
	<!-- QNA_ID로 문의 하나 찾기 -->
	<select id="viewPrdQnaOne" resultType="com.spring.mall.product.vo.ProductQnaNickVO"
		parameterType="com.spring.mall.product.vo.ProductQnaNickVO">
		SELECT QNA.*, PRODUCT.PRODUCT_NAME 
		FROM PRODUCT_QNA QNA, PRODUCT, USERS
		WHERE QNA.QNA_ID = #{qna_id}
		AND QNA.PRODUCT_ID = PRODUCT.PRODUCT_ID
		AND QNA.USER_ID = USERS.USER_ID
	</select>
	
	<!-- 상품문의 클릭시 문의+답변 조회 -->
	<select id="viewPrdQnaSet" parameterType="com.spring.mall.product.vo.ProductQnaNickVO"
						resultType="com.spring.mall.product.vo.ProductQnaNickVO">
		SELECT QNA.*, PRODUCT.PRODUCT_NAME 
		FROM PRODUCT_QNA QNA, PRODUCT, USERS
		WHERE QNA.QNA_GROUP = #{qna_group}
		AND QNA.PRODUCT_ID = PRODUCT.PRODUCT_ID
		AND QNA.USER_ID = USERS.USER_ID
		ORDER BY QNA.QNA_GROUP, QNA.QNA_GROUP_NUMBER
	</select>
	
	<!-- 상품문의 답변 입력(관리자) -->
	<insert id="insertAdminProductQna" parameterType="map">
		INSERT INTO PRODUCT_QNA (QNA_ID, QNA_CONTENT, PRODUCT_ID, USER_ID, Q_OR_A, 
	    QNA_GROUP_NUMBER, QNA_GROUP,PRODUCT_QNA_DATE, PRODUCT_QNA_STATE)
	    VALUES ((SELECT NVL(MAX(QNA_ID) ,0)+1 FROM PRODUCT_QNA),#{qna_content},
	    		TO_NUMBER(#{product_id}),#{user_id},1,
	            (SELECT MAX(QNA_GROUP_NUMBER)+1 FROM PRODUCT_QNA WHERE QNA_GROUP = TO_NUMBER(#{qna_group})),
	            TO_NUMBER(#{qna_group}), SYSDATE, 0
	)
	</insert>
	
	<!-- 문의 답변 완료,삭제 : 답변상태 1,0으로 변경 -->
	<update id="updateQnaState" parameterType="map">
		UPDATE PRODUCT_QNA SET
		PRODUCT_QNA_STATE = TO_NUMBER(#{product_qna_state})
		WHERE QNA_ID = TO_NUMBER(#{qna_id})
	</update>
	
	<!-- qna_id로 상품문의 조회(상품명, 닉네임 포함) -->
	<select id="getProductQnaNick" parameterType="com.spring.mall.product.vo.ProductQnaNickVO"
		resultType="com.spring.mall.product.vo.ProductQnaNickVO">
		SELECT PRODUCT_QNA.*, PRODUCT.PRODUCT_NAME, USERS.USER_NICKNAME
		FROM PRODUCT_QNA, USERS, PRODUCT
		WHERE PRODUCT_QNA.QNA_ID = #{qna_id}
		AND PRODUCT_QNA.PRODUCT_ID = PRODUCT.PRODUCT_ID
		AND PRODUCT_QNA.USER_ID = USERS.USER_ID
	</select>
	
	<!-- 상품문의 검색 결과 total count -->
	<select id="adminTotPrdQnaCnt" parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM PRODUCT_QNA QNA, PRODUCT, USERS
		WHERE QNA.Q_OR_A = 0
		AND QNA.PRODUCT_ID = PRODUCT.PRODUCT_ID
		AND QNA.USER_ID = USERS.USER_ID
		<if test="searchKeyword != '' ">
			<if test="searchCondition == 'QNA_CONTENT' ">
				AND QNA.QNA_CONTENT LIKE '%'||#{searchKeyword}||'%'
			</if>
			<if test="searchCondition == 'CATEGORY_CODE' ">
				AND PRODUCT.CATEGORY_CODE = TO_NUMBER(#{searchKeyword})
			</if>
			<if test="searchCondition == 'PRODUCT_ID' ">
		      	AND PRODUCT.PRODUCT_ID = TO_NUMBER(#{searchKeyword})
	      	</if>
	      	<if test="searchCondition == 'PRODUCT_NAME' ">
	      		AND PRODUCT.PRODUCT_NAME LIKE '%'||#{searchKeyword}||'%'
	      	</if>
      	</if>
      	<if test="prd_category != '' ">
	      	<if  test="prd_category == 1 ">
	      		AND PRODUCT.CATEGORY_CODE = 1
	      	</if>
	      	<if  test="prd_category == 2 ">
	      		AND PRODUCT.CATEGORY_CODE = 2
	      	</if>
      	</if>
      	<if test="qna_state != '' ">
	      	<if test="qna_state == 0 ">
	      		AND QNA.PRODUCT_QNA_STATE = 0
	      	</if>
	      	<if test="qna_state == 1 ">
	      		AND QNA.PRODUCT_QNA_STATE = 1
	      	</if>
	      	<if test="qna_state == 2 ">
	      		AND 1 =1
	      	</if>
      	</if>
		ORDER BY QNA.QNA_ID DESC
	</select>

	<!-- (관리자)전체 상품문의 조회 페이징+검색 -->
	<select id="getProductQnaListAdmin" resultType="map" parameterType="map">
		SELECT *
		FROM (SELECT ROWNUM R_NUM, A.*
		     FROM (SELECT QNA.*, PRODUCT.PRODUCT_NAME, USERS.USER_NICKNAME, PRODUCT.CATEGORY_CODE
				FROM PRODUCT_QNA QNA, PRODUCT, USERS
				WHERE QNA.Q_OR_A = 0
				AND QNA.PRODUCT_ID = PRODUCT.PRODUCT_ID
				AND QNA.USER_ID = USERS.USER_ID
				<if test="searchKeyword != '' ">
					<if test="searchCondition == 'QNA_CONTENT' ">
						AND QNA.QNA_CONTENT LIKE '%'||#{searchKeyword}||'%'
					</if>
					<if test="searchCondition == 'CATEGORY_CODE' ">
						AND PRODUCT.CATEGORY_CODE = TO_NUMBER(#{searchKeyword})
					</if>
					<if test="searchCondition == 'PRODUCT_ID' ">
				      	AND PRODUCT.PRODUCT_ID = TO_NUMBER(#{searchKeyword})
			      	</if>
			      	<if test="searchCondition == 'PRODUCT_NAME' ">
			      		AND PRODUCT.PRODUCT_NAME LIKE '%'||#{searchKeyword}||'%'
			      	</if>
		      	</if>
		      	<if test="prd_category != '' ">
			      	<if  test="prd_category == 1 ">
			      		AND PRODUCT.CATEGORY_CODE = 1
			      	</if>
			      	<if  test="prd_category == 2 ">
			      		AND PRODUCT.CATEGORY_CODE = 2
			      	</if>
		      	</if>
		      	<if test="qna_state != '' ">
			      	<if test="qna_state == 0 ">
			      		AND QNA.PRODUCT_QNA_STATE = 0
			      	</if>
			      	<if test="qna_state == 1 ">
			      		AND QNA.PRODUCT_QNA_STATE = 1
			      	</if>
			      	<if test="qna_state == 2 ">
			      		AND 1 =1
			      	</if>
		      	</if>
				ORDER BY QNA.QNA_ID DESC) A)
		WHERE R_NUM BETWEEN TO_NUMBER(#{start}) AND TO_NUMBER(#{end})
	</select>

	<!-- 해당 상품의 문의 목록(상품 상세페이지) -->
	<select id="qnaNickByProduct" parameterType="int" 
	resultType="com.spring.mall.product.vo.ProductQnaNickVO">
		SELECT QNA.*, PRODUCT.PRODUCT_NAME, USERS.USER_NICKNAME
		FROM PRODUCT_QNA QNA, PRODUCT, USERS
		WHERE QNA.PRODUCT_ID = #{product_id}
		AND QNA.PRODUCT_ID = PRODUCT.PRODUCT_ID
		AND QNA.USER_ID = USERS.USER_ID
		ORDER BY QNA.QNA_GROUP, QNA.QNA_GROUP_NUMBER
		
	</select>
	
	<!-- 상품문의 입력(고객) -->
	<insert id="insertProductQna" parameterType="com.spring.mall.product.vo.ProductQnaVO">
		INSERT INTO PRODUCT_QNA (QNA_ID, QNA_CONTENT, PRODUCT_ID, USER_ID, Q_OR_A, 
		QNA_GROUP_NUMBER, QNA_GROUP,PRODUCT_QNA_DATE, PRODUCT_QNA_STATE)
		VALUES ((SELECT NVL(MAX(QNA_ID)+1 ,0) FROM PRODUCT_QNA),#{qna_content},#{product_id},#{user_id},0,0,
		        (SELECT NVL(MAX(QNA_ID)+1 ,0) FROM PRODUCT_QNA), SYSDATE, 0
		)
	</insert>
	
</mapper>
  
  
  