<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="productQnaDAO">

	<insert id="insertPrdQna" parameterType="com.spring.mall.product.vo.ProductQnaVO">
		INSERT INTO PRODUCT_QNA (QNA_ID,QNA_CONTENT,PRODUCT_ID,USER_ID)
		VALUES ((SELECT NVL(MAX(QNA_ID),0) + 1 FROM PRODUCT_QNA),
				#{qna_content},#{product_id},#{user_id})
	</insert>
	
	
	<select id="getPrdQnaList" parameterType="com.spring.mall.product.vo.ProductQnaNickVO"
		resultType="com.spring.mall.product.vo.ProductQnaNickVO">
		SELECT QNA.QNA_ID, QNA.QNA_CONTENT, QNA.PRODUCT_ID, USERS.USER_NICKNAME
		FROM PRODUCT_QNA QNA, USERS
		WHERE QNA.PRODUCT_ID = #{product_id}
		AND QNA.USER_ID = USERS.USER_ID
		ORDER BY QNA_ID DESC
	</select>
	
</mapper>
  
  
  