<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="reviewDAO">
	
	<!-- 리뷰삭제 -->
	<delete id="deleteReview" parameterType="com.spring.mall.review.vo.ReviewVO">
		DELETE FROM REVIEW
		WHERE REVIEW_ID = #{review_id}
	</delete>
	
	<!-- 리뷰수정 -->
	<update id="updateReview" parameterType="com.spring.mall.review.vo.ReviewVO">
		UPDATE REVIEW SET
		REVIEW_GRADE = #{review_grade},
		REVIEW_CONTENT = #{review_content}
		WHERE REVIEW_ID = #{review_id}
	</update>
	
	<!-- review_id로 리뷰 조회(수정에 사용) -->
	<select id="getReviewOne" parameterType="int" resultType="map">
		SELECT R.REVIEW_GRADE, R.REVIEW_CONTENT,P.PRODUCT_NAME, D.USER_ORDER_CNT, P.PRODUCT_INFO,R.REVIEW_ID
		FROM REVIEW R, USER_ORDER O, USERORDER_DETAIL D, PRODUCT P
		WHERE R.ORDER_DETAIL_ID = D.ORDER_DETAIL_ID
		AND D.ORDER_ID = O.ORDER_ID
		AND D.PRODUCT_ID = P.PRODUCT_ID
		AND R.REVIEW_ID = #{review_id}
	</select>
	
	<!-- 나의 상품리뷰 목록 -->
	<select id="myReviewList" parameterType="string" resultType="map">
		SELECT P.PRODUCT_INFO, P.PRODUCT_NAME, U.ORDER_DATE, R.REVIEW_GRADE, R.REVIEW_CONTENT, R.REVIEW_ID
		FROM REVIEW R, PRODUCT P, USER_ORDER U, USERORDER_DETAIL D
		WHERE R.ORDER_DETAIL_ID = D.ORDER_DETAIL_ID
		AND D.ORDER_ID = U.ORDER_ID
		AND D.PRODUCT_ID  = P.PRODUCT_ID
		AND U.USER_ID = #{user_id}
		ORDER BY R.REVIEW_ID DESC
	</select>
	
	<!-- order_detail_id로 리뷰 존재여부 확인 -->
	<select id="existReview" parameterType="com.spring.mall.user.vo.MyInfoVO" resultType="int">
		SELECT COUNT(*)
		FROM REVIEW
		WHERE ORDER_DETAIL_ID = #{order_detail_id}
	</select>
	
	<!-- 리뷰 입력 -->
	<insert id="insertReview" parameterType="com.spring.mall.review.vo.ReviewVO">
		INSERT INTO REVIEW (REVIEW_ID,REVIEW_CONTENT,REVIEW_GRADE,ORDER_DETAIL_ID)
		VALUES ((SELECT NVL(MAX(REVIEW_ID)+1,0) FROM REVIEW), #{review_content},
		#{review_grade},#{order_detail_id})
	</insert>

	<!-- order_detail_id로 myInfoVO(주문내역) 조회하기 -->
	<select id="getMyOrder_odi" resultType="com.spring.mall.user.vo.MyInfoVO"
								parameterType="com.spring.mall.user.vo.MyInfoVO">
		SELECT UO.ORDER_ID, UO.ORDER_DATE, UO.ORDER_ADDR, UO.ORDER_ADDR_D
	        ,UO.ORDER_ZIPCODE, UO.ORDER_RECEIVER, UO.ORDER_PHONE
	        ,UO.ORDER_TOTAL, UO.USER_STATUS, UO.USER_ID
	        ,UOD.ORDER_DETAIL_ID, UOD.USER_ORDER_CNT, UOD.PRODUCT_ID
	        ,P.CATEGORY_CODE, P.PRODUCT_NAME, P.PRODUCT_PRICE, P.PRODUCT_STOCK
	        ,P.PRODUCT_INFO, P.PRODUCT_DISCOUNT, P.PRODUCT_STATE
	    FROM USER_ORDER UO, USERORDER_DETAIL UOD, PRODUCT P
	    WHERE UO.ORDER_ID = UOD.ORDER_ID
	    AND UOD.PRODUCT_ID = P.PRODUCT_ID
	    AND UOD.ORDER_DETAIL_ID = #{order_detail_id}
	</select>


</mapper>