/* content css */
*{margin:0; padding:0; text-decoration: 0; list-style: none;}

.content_header_messge {
	color: white;
}
.content {
	border: 1px solid black;
}
.main {
	height:500px;
    width:1000px;
}
.login {
	float: left;
	background-color : white;
	float: left;
	text-align: center;
	box-shadow: 13px 20px 50px 0px rgb(0 0 0 / 30%);
	
}
.notice {
	margin-left: 100px;
    height: 200px;
	background-color : white;
	float: left;
	text-align: center;
	box-shadow: 13px 20px 50px 0px rgb(0 0 0 / 30%);
}
aside {
	float: left;
	width: 20%;
}
section {
	float: left;
	width: 80%;
}
.container {
	height: 800px;
}
.content {
	height: 750px;
}
.content_header{
    width:100%;
    height:250px;
    background:url('https://cdn.pixabay.com/photo/2022/03/04/20/53/city-7048002_960_720.jpg') no-repeat;
    background-size:cover;
    background-position-y:-200px;
}

.content_center{
    width:100%;
    background:#f2f2f2;
    padding:30px 0;
}

.content_wrap{
    width:70%;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
}

.login{
    width:25%;
    padding:50px;
    height:300px;
}

.login_input{
    width:100%;
    background:#f2f2f2;
    border:0;
    border-radius:6px;
    height:50px;
    margin-bottom:10px;
    padding-left:20px;
}

.login-btn{
    height:50px;
    width:100%;
    background:green;
    color:#fff;
    border:0;
    border-radius: 6px;
    margin-top:20px;
    font-size:16px;
    font-weight:bold;
    margin-bottom:20px;
}

.search-login a{
    color:gray;
    text-decoration: none;
}

.search-login span:nth-of-type(1){
    margin-right:20px;
}

.notice{
    width:60%;
    height:400px;
}

h2{
    color:green;
    font-weight:bold;
    text-align: left;
}

.w3-bar{
    display:flex;
    align-items:center;
}

.w3-bar>a{
    width:33.3%;
    height:50px;
    background:#85bf92;
    display: block;
    line-height: 50px;
    color:green;
    font-weight: 600;
}

.w3-bar>a:hover{
    background:green;
    color:#fff;
}

.w3-bar>a:not(:nth-of-type(1)){
    border-left:1px solid white;
    box-sizing: border-box;
}

.w3-container{
    padding:10px;
    height:330px;
}

.w3-container>div{
    border:1px solid #f2f2f2;
    width:100%;
    height:100%;
}

.main-table{
    table-layout: fixed;
    width:100%;
    font-size:16px;
    margin-top:10px;
}

.main-table td{
    padding:10px;
}

.main-table td:nth-of-type(1){
    text-align: center;
}

.main-table td:nth-of-type(1) a{
    color:#000;
    font-weight: 600;
}

.main-table td:nth-of-type(2) a{
    color:#000;
}

.main-table td:nth-of-type(3){
    text-align: right;
}

.main-table td:nth-of-type(3) a{
    color:gray
}

.main-table td:nth-of-type(2){
    overflow:hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
    display:block;
}

.tab-content{
    display:none;
}

.tab-content.on{
    display:block;
}

h2{
    margin-bottom:20px;
}


/* 학사관리시스템 */
.header_log {
	background:cadetblue;

}
.log {
	float: left;
}
.logout {
	text-align: right;
}
.header_top{
    display:flex;
    width:100%;
    background:cadetblue;
    height:50px;
    line-height: 50px;
}

.header_top>div:nth-of-type(1){
    width:300px;
    text-align: center;
    color:#fff;
    border-right:1px solid #fff;
}

.study-manage aside{
    background:#232e30;
    width:300px;
    color:#fff;
    height:100%;
    position:absolute
}

.aside{
    padding:10px;
}

.aside-menu a{
    color:#fff;
}

.aside-menu h3{
    font-size:20px;
    padding:10px 0 10px 20px;
    border-bottom:1px solid gray;
    cursor: pointer;
}

.aside-menu ul{
    margin:10px 0;
    padding-left:20px;
    font-size:16px;

    display:none;
}

.aside-menu li{
    margin:15px 0;
}

.ul-toggle{
    cursor: pointer;
}

.aside-search input{
    border:0;
    height:40px;
    background:#364950;
    color:#fff;
    border-radius: 6px;
    width:100%;
/*     padding-left:20px; */
    font-size:16px;
}

.study-manage .section{
    padding-left:300px;
}

.study-manage .footer-sub{
    text-align: center;
}

.study-manage .footer-sub .font{
    font-size : 30px;
 	font-family: 'East Sea Dokdo', cursive;	
}
.search_id, .search_pwd {
	padding: 300px 200px;
	text-align: center;
	height: 150px;
}
.searchid_select,.searchpwd_select {
	text-align: center;
}
.search_input {
	width: 400px;
    height: 30px;
    padding-left: 10px;
    margin-bottom: 3px;
}
.search_table {
	left: auto;
    width: 100%;
    right: auto;
}
/* footer css */
.footer  {
 	font-size : 30px;
 	font-family: 'East Sea Dokdo', cursive;	
}
.search_btn {
	width: 200px;
    height: 50px;
    margin-bottom: 5px;
    background-color: black;
    color: wheat;
}
.footer-main {
 	background-color: white;
 	text-align : center;
<<<<<<< HEAD
}
=======
}
>>>>>>> branch 'master' of https://github.com/kec0486/willsemiproject.git

.styled-table {
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	font-family: sans-serif;
	min-width: 400px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
<<<<<<< HEAD
=======
}
>>>>>>> branch 'master' of https://github.com/kec0486/willsemiproject.git
.admin_page,
.student_page,
.professor_page{
	text-align: right;
<<<<<<< HEAD
=======
}
.st_find {
	border-collapse: collapse;
}
.search_id, .search_pwd {
	border: 2px solid #8080803b;
    width: 450px;
    margin-left: 350px;
>>>>>>> branch 'master' of https://github.com/kec0486/willsemiproject.git
}