<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="productDAO">
  
	 <!-- food -->
	 <select id="getProductLists_c" parameterType="int" resultType="com.spring.mall.product.vo.ProductVO">
	 	SELECT *
		FROM PRODUCT
		WHERE CATEGORY_CODE = #{category_code}
		ORDER BY PRODUCT_ID DESC
	 </select>
	 
	 <select id="getProduct" parameterType="com.spring.mall.product.vo.ProductVO"
		resultType="com.spring.mall.product.vo.ProductVO">
		SELECT *
		FROM PRODUCT
		WHERE PRODUCT_ID = #{product_id}	
	</select>
	
	<!-- 
	<select id="getProductList" parameterType="com.spring.mall.product.vo.ProductVO" 
		resultType="com.spring.mall.product.vo.ProductVO">
	SELECT * FROM PRODUCT
		WHERE 1=1
		<if test="searchCondition == 'PRODUCT_NAME' ">
		AND PRODUCT_NAME LIKE '%'|| #{searchKeyword} ||'%'
		</if>
		<if test="searchCondition == 'PRODUCT_ID' ">
		AND PRODUCT_ID = #{searchProductID}
		</if>
		ORDER BY PRODUCT_ID DESC
	</select>
	
	<select id="getProductList_N" parameterType="string" 
		resultType="com.spring.mall.product.vo.ProductVO">
		SELECT *
		FROM PRODUCT
		WHERE PRODUCT_NAME LIKE '%'|| #{searchKeyword} ||'%'
		ORDER BY PRODUCT_ID DESC
	</select>
	
	<select id="getProductList_I" parameterType="string"
		resultType="com.spring.mall.product.vo.ProductVO">
		SELECT *
		FROM PRODUCT
		WHERE PRODUCT_ID = #{searchProductID}	
	</select>
	
	
	<insert id="insertProduct" parameterType="com.spring.mall.product.dao.insertProduct">
		INSERT INTO PRODUCT (PRODUCT_ID, CATEGORY_CODE, PRODUCT_NAME, PRODUCT_PRICE, PRODUCT_STOCK, PRODUCT_INFO, PRODUCT_DISCOUNT)
		VALUES (SELECT NVL(MAX(PRODUCT_ID), 0) + 1 FROM PRODUCT), #{category_code}, #{product_name}, #{product_price}, #{product_stock}, 
			#{product_info}, #{product_discount}
	</insert>
	
	<update id="updateProduct" parameterType="com.spring.mall.product.dao.updateProduct">
		UPDATE PRODUCT
		SET PRODUCT_NAME = #{product_name},
		    CATEGORY_CODE = #{category_code},
		    PRODUCT_PRICE = #{product_price},
		    PRODUCT_STOCK = #{product_stock},
		    PRODUCT_INFO = #{product_info},
		    PRODUCT_DISCOUNT = #{product_discount}
		    WHERE PRODUCT_ID = #{product_id}
	</update>

	<delete id="deleteProduct" parameterType="com.spring.mall.product.dao.deleteProduct">
		DELETE FROM PRODUCT WHERE PRODUCT_ID = #{product_id}
	</delete>
	 -->
	 
  	
  </mapper>
  
 