<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="paging">
	
	
	<!-- prd_qna List per product -->
	<select id="prdQnaListWithPaging" parameterType="map"
			resultType="com.spring.mall.product.vo.ProductQnaNickVO">
		SELECT *
	    FROM (SELECT ROWNUM R_NUM, AA.*
	       FROM (SELECT QNA.*, PRODUCT.PRODUCT_NAME, USERS.USER_NICKNAME
			FROM PRODUCT_QNA QNA, PRODUCT, USERS
			WHERE QNA.PRODUCT_ID = #{product_id}
			AND QNA.PRODUCT_ID = PRODUCT.PRODUCT_ID
			AND QNA.USER_ID = USERS.USER_ID
			ORDER BY QNA.QNA_GROUP, QNA.QNA_GROUP_NUMBER) AA)
	    WHERE R_NUM BETWEEN #{start} AND #{end}
	</select>
	
	<!-- total prd_qna count per product_id -->
	<select id="totalReplCnt_prd" parameterType="int" resultType="int">
		SELECT COUNT(*)
		FROM PRODUCT_QNA
		WHERE PRODUCT_ID = #{product_id}
	</select>
	
	<!-- total categoryList count -->
	<select id="totalProductCnt_c" parameterType="int" resultType="int">
		SELECT COUNT(*)
		FROM PRODUCT
		WHERE CATEGORY_CODE = #{category_code}
	</select>
	
	<!-- products by category  -->
	<select id="getProductPerPage_c" parameterType="map" 
					resultType="com.spring.mall.product.vo.ProductVO">
		SELECT *
		FROM (SELECT ROWNUM R_NUM, P.*
		         FROM (SELECT * FROM PRODUCT
		            WHERE CATEGORY_CODE = #{category_code}
		            AND PRODUCT_STATE = 1
		            ORDER BY PRODUCT_ID DESC) P)
		WHERE R_NUM BETWEEN #{start} AND #{end}
	</select>

</mapper>