<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="paging">
	
	<!-- total count -->
	<select id="totalProductCnt_c" parameterType="int" resultType="int">
		SELECT COUNT(*)
		FROM PRODUCT
		WHERE CATEGORY_CODE = #{category_code}
	</select>
	
	<!-- products by category  -->
	<select id="getProductPerPage_food" parameterType="map" resultType="com.spring.mall.product.vo.ProductVO">
		SELECT *
		FROM (SELECT ROWNUM R_NUM, P.*
		         FROM (SELECT * FROM PRODUCT
		            WHERE CATEGORY_CODE = #{category_code}
		            ORDER BY PRODUCT_ID DESC) P)
		WHERE R_NUM BETWEEN #{start} AND #{end}
	</select>

</mapper>